@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Данные о врачах и пациентах</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в программу</h2>
        <p>
            Приложение редактирования
            данных о врачах и пациентах
        </p>
    </div>

</div>